<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8"/>
  <title>Angeldust Duke</title>
  <meta name="keywords" content="developer, code, flutter, dart, rust lang, blogging, art, python, compiler"/>
  <meta name="robots" content="Angeldust Duke: a bad b*tch, a creative soul, and eccentric as f*ck."/>
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="description" content="Angeldust Duke: a bad b*tch, a creative soul, and eccentric as f*ck."/>
  <link rel="apple-touch-icon" sizes="57x57" href="https://angeldustduke.art/assets/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://angeldustduke.art/assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://angeldustduke.art/assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://angeldustduke.art/assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://angeldustduke.art/assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://angeldustduke.art/assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://angeldustduke.art/assets/images/favicons/ms-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://angeldustduke.art/assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://angeldustduke.art/assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://angeldustduke.art/assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://angeldustduke.art/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://angeldustduke.art/assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://angeldustduke.art/assets/images/favicons/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="https://angeldustduke.art/assets/images/favicons/ms-icon-144x144.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="Diavorella, the Angeldust Duke's muse.">
  <meta name="twitter:title" content="Angeldust Duke">
  <meta name="twitter:description" content="Angeldust Duke: a bad b*tch, a creative soul, and eccentric as f*ck.">
  <meta property="og:image" content="https://angeldustduke.art/assets/images/banner/banner.png">
  <meta name="twitter:image" content="https://angeldustduke.art/assets/images/banner/banner.png">
  <meta property="og:image:type" content="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="https://angeldustduke.art/assets/css/main.css"/>
 </head>

 <body>
  <img class="profile_pic" src="https://angeldustduke.art/assets/images/logo/logo.png"/>
  <h1>Angeldust Duke</h1>

  {% if posts %}

   {% for post in posts %}
    <div class="content">
     <h2>{{ post.title }}</h2>
     <p>
      {{ post.description }}
     </p>
     <hr class="divider"/>
     <p>
      <a href="{% url 'posts:post' title=post.title %}">Read</a>
     </p>
    </div>
   {% endfor %}

  {% else %}

   <div class="content">
    <h2>No posts yet!</h2>
    <p>
     No posts here yet! Stay tuned!
    </p>
   </div>

  {% endif %}

 </body>

</html>
