<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8"/>
  <title>{{ site_name }}</title>
  <meta name="keywords" content="{{ site_keywords }}"/>
  <meta name="robots" content="{{ site_description }}"/>
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="description" content="{{ site_description }}"/>
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site_57x57_icon }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site_60x60_icon }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site_72x72_icon }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site_76x76_icon }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site_114x114_icon }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site_120x120_icon }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site_144x144_icon }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site_152x152_icon }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site_180x180_icon }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ site_192x192_icon }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site_32x32_icon }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site_96x96_icon }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site_16x16_icon }}">
  <meta name="msapplication-TileImage" content="{{ site_144x144_icon }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:alt" content="{{ site_banner_description }}">
  <meta name="twitter:title" content="{{ site_name }}">
  <meta name="twitter:description" content="{{ site_description }}">
  <meta property="og:image" content="{{ site_social_banner }}">
  <meta name="twitter:image" content="{{ site_social_banner }}">
  <meta property="og:image:type" content="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="{{ site_css }}"/>
 </head>

 <body>
  <img class="profile_pic" src="{{ site_pic }}"/>
  <h1>{{ site_name }}</h1>

  <div class="content">
   <h2>{{ title }}</h2>
   <p>
    {{ description }}
   </p>
   <p>
    {{ date }}
   </p>
   <p>
    {{ body }}
   </p>
  </div>
 </body>

</html>
